.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 0%;
    padding: 0 clamp(1rem, 5vw, 3rem);
}