.reset-btn {
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: auto;
    padding: 1% 20%;
    margin-top: 2%;
}

.reset-text {
    font-family: Verdana, sans-serif;
    text-align: center;
    align-items: center;
    position: static;
    justify-content: center;
    justify-items: center;
    padding: 1% 20%;
    margin-top: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-right: 0%;
    margin-left: 0%;
    width: auto;
}

.end-screen {
    padding: 8%;
}